# Mac system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# IDEs / Editors
.vscode/
.idea/
*.iml

# Eclipse (important for your case)
eclipse-workspace/

# Logs
*.log

# Temporary files
*.tmp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.envuser_data/
